@charset "utf-8";
@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+KR:wght@100..900&display=swap");

body {
  font-family: "Inter", "Noto Sans KR", sans-serif;
  color: #111;
}

/* 공통영역 */
.con {
  width: 1600px;
  height: auto;
  margin: 0 auto;
}
h3 {
  /* 섹션제목 */
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 28px;
  line-height: 46px;
}
h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
}
a {
  font-family: "Inter", "Noto Sans KR", sans-serif;
}
/* chips 공통 */
.chips {
  width: fit-content;
  height: fit-content;
  font-size: 16px;
  color: #4d4d4d;
  text-align: center;
  background-color: #d6d6d648;
  box-sizing: border-box;
  padding: 8px 16px;
  border-radius: 24px;
}
.chips_plus {
  width: fit-content;
  height: fit-content;
  font-size: 16px;
  color: #ff834f;
  text-align: center;
  box-sizing: border-box;
  padding: 8px 16px;
  background-color: #fff;
  border: 1px solid #ff834f;
  border-radius: 24px;
  transition: 0.3s;
  margin-left: auto;
}
.chips_plus:hover {
  background-color: #ff834f;
  color: #fff;
}
/* header */
header {
  width: 100%;
  height: 80px;
  position: relative;
  background-color: #fff;
  z-index: 999;
  /* border-bottom: 1px solid #f5f4f4; */
}
header .con {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 209px;
}
/* logo */
h1 {
  width: 212px;
}
/* gnb */
#gnb {
  width: fit-content;
  height: 80px;
  font-size: 15px;
  font-weight: 300;
}
/* 1차메뉴 */
#gnb > ul {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 26px 0;
  box-sizing: border-box;
  line-height: 25px;
  /* background-color: gold; */
}
#gnb > ul > li {
  width: 164px;
  text-align: center;
  transition: 0.3s;
  position: relative;
}
#gnb > ul > li > a {
  line-height: 25px;
  display: block;
  padding: 0 24px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  transition: 0.3s;
}
#gnb > ul > li:hover > a {
  color: #ff834f;
  text-decoration: underline;
}
/* 2차메뉴 */
#gnb .submenu {
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  position: absolute;
  top: 80px;
  z-index: 1000;
}
#gnb .submenu li {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 48px;
}
#gnb .submenu li a {
  transition: 0.3s;
  display: block;
  width: 100%;
}
#gnb:hover .submenu {
  height: 110px;
}
.submenu > li > a:hover {
  color: #ff834f;
  font-weight: 500;
}
#gnb::after {
  content: "header-background";
  font-size: 0;
  position: absolute; /* 0점 헤더기준_gnb기준이면 그거 시작지점부터 100vw */
  top: 80px; /* 헤더아래부터 */
  left: 0;
  width: 100vw;
  height: 0; /*마우스올리면 그때보여야해서*/
  transition: 0.5s;
  backdrop-filter: blur(10px); /* 배경 블러처리 △뒤에 단색이면 블러 안먹음 */
}
#gnb:hover::after {
  height: 200px;
  background-color: #ffffff4b;
  border-bottom: 1px solid #ddd;
}
.icons {
  display: flex;
  gap: 50px;
}
.icons a {
  display: block;
  padding: 4px;
  box-sizing: border-box;
}
.icons img {
  width: 24px;
  height: 24px;
}
.icons .menu_icon {
  display: none;
}
/* main */
main {
  width: 100%;
  height: auto;
}
/* sec공통영역 */
section {
  margin-bottom: 100px;
}
/* main visual */
.main_visual {
  width: 100%;
  height: 720px;
  position: relative;
  left: 0;
  background-color: #e0e2dd;
  z-index: 2;
  overflow: hidden;
}
.main_visual > div:first-child {
  width: 1600px;
  height: fit-content;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}
.main_visual > div > h2 {
  font-family: "Aboreto", serif;
  font-size: 60px;
}
.main_visual > div > h4 {
  font-size: 24px;
  line-height: 56px;
  margin: 8px 0;
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.bg-video > video {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  transform: translateX(400px);
}
/* 버튼2개 */
.btn {
  display: flex;
  gap: 18px;
}
.btn a {
  display: flex;
  gap: 4px;
  transition: 0.4s;
  padding-bottom: 4px;
}
.btn a:hover {
  color: #ff834f;
}
/* sec1 best */
.sec_txt > p {
  font-size: 15px;
  font-weight: 400;
  color: #4d4d4d;
  margin-bottom: 28px;
}
.chips_con {
  width: 100%;
  display: flex;
  margin-bottom: 28px;
}
.chips_con > div:first-child {
  display: flex;
  gap: 20px;
}
.chips_con > a {
  margin-left: auto;
}
.chips:hover {
  background-color: #ff834f;
  color: #fff;
}
/* sec1 컨텐츠 */
.sec1 .con_wrap {
  width: 1600px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.sec1 .card1 {
  width: calc(1516px / 4);
  height: 330px;
  border: 1px solid #d6d6d6;
  border-radius: 8px;
  padding: 30px;
  box-sizing: border-box;
  margin-top: 144px;
  position: relative;
  flex-shrink: 0;
  transition: 0.4s;
}
.card1:hover {
  border: 1px solid #ff834f;
}
.card_img {
  width: 240px;
  height: 240px;
  border-radius: 120px;
  overflow: hidden;
  margin-bottom: 24px;
  position: absolute;
  top: -25%;
  left: 50%;
  transform: translate(-120px, -12px);
  transition: 0.4s;
}
.card1:hover .card_img {
  transform: translate(-120px, -22px);
}
.card_img > img {
  object-fit: scale-down;
  transform: translateY(-50px) scale(1.2);
}
#sec1_s > a:first-child .card_img > img {
  transform: translateY(-100px) scale(1.2);
}
#sec1_s > a:nth-child(2) .card_img > img {
  transform: translateY(-140px) scale(1.2);
}
#sec1_m > a:nth-child(1) .card_img > img {
  transform: translate(0px, -30px);
  transform-origin: top;
}
#sec1_m > a:nth-child(4) .card_img > img {
  transform: translate(0px, -30px);
  transform-origin: top;
}
#sec1_m .card_img > img{
  transform: scale(1);
}
.card1_con {
  width: 319px;
  /* width: 100%; */
  position: absolute;
  top: 168px;
  margin: 0 auto;
  text-align: center;
}
/* 해시태그 */
.card1 > div > span {
  text-align: center;
  font-size: 15px;
  display: block;
  margin-bottom: 24px;
}
.user_profile {
  font-size: 12px;
  font-weight: 300;
  width: 100%;
  /* background-color: wheat; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.user_profile span {
  line-height: 17px;
}
.user_profile > div:first-of-type {
  display: flex;
  align-items: center;
  gap: 8px;
}
.user_profile > div:last-of-type {
  display: flex;
  align-items: center;
  gap: 8px;
}
.user_profile > span::before {
  content: "line";
  font-size: 0px;
  display: block;
  width: 1px;
  height: 16px;
  background-color: #d6d6d6;
  float: left;
  margin-right: 30px;
}
.user_profile > span::after {
  content: "line";
  font-size: 0px;
  display: block;
  width: 1px;
  height: 16px;
  background-color: #d6d6d6;
  float: right;
  margin-left: 30px;
}
.user_profile > img:last-of-type {
  width: 24px;
  height: 24px;
}
.card1_con > p {
  font-size: 12px;
  color: #4d4d4d;
  text-align: center;
  line-height: 17px;
}
#sec1_m{
  display: none; /* 나중에 칩 클릭하면 보여줄꺼임 */
}
/* sec2 community */
#sec2_s{
  display: none; /* 나중에 칩 클릭하면 보여줄꺼임*/
}
.sec2 > .con {
  display: flex;
}
/* 왼쪽텍스트 */
.left_txt {
  width: 40%;
  margin: auto; /**/
  margin: 308px auto;
}
.sec2 p {
  font-size: 15px;
  font-weight: 300;
  line-height: 17px;
  margin-bottom: 28px;
}
/* 오른쪽 표 */
.right_table {
  width: 60%;
}
/* 더보기버튼 */
/* 마진레프트오토 안먹음 */
.right_table > a {
  display: block;
}
.right_table > a > div {
  color: #ff834f;
  background-color: #fff;
  border: 1px solid #ff834f;
  box-sizing: border-box;
}
/* 표 */
.sec2_profile {
  margin-bottom: 16px;
}
.right_table img {
  display: inline-block;
}
.sec2 .user_profile {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.sec2 .user_profile > span::before {
  content: "line";
  font-size: 0px;
  display: block;
  width: 1px;
  height: 16px;
  background-color: #d6d6d6;
  float: left;
  margin-right: 10px;
}
.sec2 .user_profile > span::after {
  content: "line";
  font-size: 0px;
  display: block;
  width: 1px;
  height: 16px;
  background-color: #d6d6d6;
  float: right;
  margin-left: 10px;
}
.user_profile > div:nth-of-type(2) {
  display: flex;
  align-items: center;
  gap: 8px;
}
.sec2 h4 {
  margin-bottom: 16px;
}
.sec2 .table1 {
  padding: 10px;
  padding-top: 28px;
  box-sizing: border-box;
  border-bottom: 1px solid #d6d6d6;
  background-color: #fff;
  transition: 0.3s;
}
.sec2 .table1:hover {
  background-color: #d6d6d61a;
}
.right_table > div > a:last-child > .table1 {
  border-bottom: none;
}
.table1 p {
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
}
.right_table > div {
  border-top: 2px solid #d6d6d6;
  border-bottom: 2px solid #d6d6d6;
  margin-top: 28px;
}
/* sec3 event */
.sec3 .coupon_wrap {
  display: flex;
  justify-content: space-between;
  gap: 28px;
}
.sec3 .con > a > h3 {
  margin-bottom: 28px;
}
.sec3 .coupon {
  position: relative;
  top: 0;
  left: 0;
}
.sec3 .sec3_btn {
  width: fit-content;
  height: fit-content;
  font-size: 16px;
  text-align: center;
  padding: 8px 16px;
  color: #fff;
  background-color: #ff834f;
  border: 1px solid #ff834f;
  border-radius: 24px;
  box-sizing: border-box;
  position: absolute;
  top: -14px;
  left: 210px;
  z-index: 20;
}
.sec3 .sec3_btn:hover {
  background-color: #ff834f;
  border: 1px solid #ff834f;
}
.sec3 .coupon img{
  transition: 0.5s;
}
.hover_img{
  position: relative;
}
.hover_img2{
  position: absolute;
  transform: translateY(-247px);
  will-change: transform, opacity, color;
}
.hover_img2{
  opacity: 0;
}
.coupon:hover .hover_img2{
  opacity: 1;
}
.coupon:hover .coupon_text{
  color: #fff;
} 
.coupon:hover .coupon_text h4{
  color: #fff;
} 
.coupon:hover .sec3_btn{
  background-color: #fff;
  color: #ff834f;
  border: 1px solid #ff834f;
}
.coupon_text {
  position: absolute;
  top: 84px;
  left: 78px;
  z-index: 20;
}
.coupon_text > h4 {
  margin: 10px 0;
}

/* sec4 styling */
.sec4 .card_wrap {
  display: flex;
  gap: 28px;
  justify-content: space-between;
}
.chips_seoson {
  display: flex;
  gap: 12px;
  margin-bottom: 28px;
}
.chips_seoson .chips {
  width: 62px;
}
.sec4 > .con > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
}
/* sec4 카드뒤집기 */
.flip {
  width: calc(33% - 28px);
}
.sec4 .card1 {
  display: inline-block;
  transition: transform 0.8s;
  transform: perspective(800px) rotateY(0deg);
  transform-style: preserve-3d;
}
.sec4 .card1:hover {
  transform: perspective(800px) rotateY(180deg);
}
.sec4 .card_front,
.sec4 .card_back {
  backface-visibility: hidden;
}
.sec4 .card_front {
  position: relative;
  top: 0;
  left: 0;
}
.sec4 .card_back {
  transform: rotateY(180deg);
  position: absolute;
  top: 109px;
  left: 122px;
}
/* sec4 컨텐츠 */
.sec4 .card1 {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 1px solid #d6d6d6;
  border-radius: 8px;
  box-sizing: border-box;
  position: static;
  cursor: pointer;
  position: relative;
}
.card_front img {
  transform: scale(0.9);
}
.sec4 .card1:hover {
  border: 1px solid #ff834f;
}
.card1 > div > h4 {
  color: #ff834f;
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  text-align: center;
  margin-bottom: 32px;
}
.card1 > div > div:first-of-type {
  display: flex;
  gap: 28px;
  justify-content: center;
  margin-bottom: 32px;
}
.circle {
  width: 40px;
  height: 40px;
  border: 1px solid #d6d6d6;
  border-radius: 40px;
}
.circle1 > .circle:nth-child(1) {
  background-color: #fff;
}
.circle1 > .circle:nth-child(2) {
  background-color: #ffdada;
}
.circle1 > .circle:nth-child(3) {
  background-color: #dff2ff;
}
.circle2 > .circle:nth-child(1) {
  background-color: #fff;
}
.circle2 > .circle:nth-child(2) {
  background-color: #005cd4;
}
.circle2 > .circle:nth-child(3) {
  background-color: #1b2f6f;
}
.circle3 > .circle:nth-child(1) {
  background-color: #d6d6d6;
}
.circle3 > .circle:nth-child(2) {
  background-color: #ecd6d6;
}
.circle3 > .circle:nth-child(3) {
  background-color: #e3d6ed;
}

.sec4 .maintext {
  font-size: 20px;
  font-weight: 500;
  line-height: 37px;
  margin-bottom: 8px;
}
.sec4 .subtext {
  font-size: 16px;
  font-weight: 300;
  line-height: 31px;
}

/* sec5 product */
.sec5 > .con > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
}
.sec5 a {
  display: block;
  width: fit-content;
  height: fit-content;
}
.sec5 > .con > .con_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 28px;
  margin-top: 28px;
}
.sec5 .card1 {
  position: relative;
  top: 0;
  left: 0;
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 20px;
  border: 1px solid #d6d6d6;
}
.sec5 .card1:hover {
  border: 1px solid #ff834f;
}
.img_case {
  width: 320px;
  height: 233px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec5 .con_wrap .chips {
  background-color: #d6d6d660;
  padding: 8px, 16px;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}
.sec5 .card1 .chips:hover {
  color: #4d4d4d;
}
.sec5 .big_img {
  transform: scale(0.7);
}
.sec5 .cardtext span {
  width: fit-content;
  text-align: left;
  color: #4d4d4d;
  font-weight: 300;
}
.sec5 .cardtext span:first-of-type {
  font-size: 14px;
  line-height: 20px;
}
.sec5 .cardtext span:last-of-type {
  font-size: 16px;
  line-height: 23px;
}
.sec5 .cardtext h4 {
  width: fit-content;
  text-align: left;
  margin: 8px, 0;
  line-height: 29px;
  text-decoration: none;
  color: #111;
}
.sec5 .line {
  width: 325px;
  height: 1px;
  background-color: #d6d6d6;
  margin: 16px 0;
}

/* footer */
footer {
  border-top: 1px solid #d6d6d6;
  box-sizing: border-box;
}
footer .con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
footer h2 {
  width: 212px;
}
.sitemap > ul {
  display: flex;
  gap: 10px;
  padding: 10px;
}
.sitemap > ul > li {
  padding: 10px;
  box-sizing: border-box;
}
.sitemap > ul > li > a {
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 300;
  line-height: 80px;
}
footer span {
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
}
