@charset "utf-8";

/* 💡모바일S💡 */
@media screen and (min-width: 320px) and (max-width: 767px) {
  /* 공통영역 */
  .con {
    width: 95%;
  }

  /* 섹션 공통영역 */
  section {
    margin-bottom: 80px;
  }
  .sec_txt {
    text-align: center;
    margin-bottom: 40px;
  }
  /* 섹션 제목 */
  h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
    line-height: 22px;
    text-align: center;
  }
  /* chips 공통 */
  .chips {
    width: 68px;
    font-size: 12px;
    line-height: 12px;
    padding: 6px 10px;
    box-sizing: border-box;
  }
  .chips_con > div:first-child {
    gap: 12px;
  }
  .chips_plus {
    font-size: 12px;
    box-sizing: border-box;
    padding: 6px 10px;
    line-height: 12px;
  }
  /* 계절칩 공통 */
  .chips_seoson .chips {
    width: 45px;
    font-size: 12px;
    line-height: 12px;
    padding: 6px 10px;
    box-sizing: border-box;
  }
  .chips con {
    width: 95%;
  }
  /* header */
  header {
    width: 100%;
    height: 32px;
    position: relative;
    z-index: 999;
  }
  header .con {
    width: 95%;
    height: 100%;
  }
  header .icons.menu {
    display: flex;
  }
  /* 햄버거메뉴 */
  #ham_menu {
    display: none;
  }
  #ham_menu:checked {
    display: none;
  }
  #ham_menu + label {
    display: block;
    width: 20px;
    height: 12px;
    cursor: pointer;
    position: relative;
  }
  #ham_menu + label > span {
    display: block;
    width: 100%;
    height: 1px;
    border-radius: 30px;
    background: #4d4d4d;
    position: absolute;
    transition: all 0.5s;
    z-index: 2;
  }
  /* 햄버거 닫혔을 때 */
  #ham_menu + label > span:nth-child(1) {
    top: 0px;
  }
  #ham_menu + label > span:nth-child(2) {
    top: 45%;
  }
  #ham_menu + label > span:nth-child(3) {
    bottom: 0px;
  }
  /* 햄버거 열렸을 때 */
  #ham_menu:checked + label > span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
  }
  #ham_menu:checked + label > span:nth-child(2) {
    opacity: 0;
  }
  #ham_menu:checked + label > span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-135deg);
  }

  /* 모바일 메뉴 */
  #ham_menu + label + #mobile_menu {
    position: fixed;
    width: 70vw;
    height: 100vh;
    background: #fffffff6;
    top: 0px;
    padding: 60px 25px 25px 25px;
    box-sizing: border-box;
    left: -2000px;
    z-index: 1;
    transition: all 0.3s;
  }
  #ham_menu:checked + label + #mobile_menu {
    left: 0px;
  }
  #mobile_menu > ul > li {
    margin-bottom: 20px;
  }
  #mobile_menu > ul > li > a {
    color: #ff834f;
    font-size: 14px;
    line-height: 20px;
  }
  #mobile_menu .submenu {
    font-size: 12px;
    line-height: 20px;
  }
  /* logo */
  h1 {
    width: 129px;
    /* 로고 가운데로 보내기 */
    margin-left: 5vw;
  } /* gnb */
  #gnb {
    display: none;
  }
  .icons {
    gap: 8px;
  }
  .icons img {
    width: 20px;
    height: 20px;
  }
  .icons.menu img {
    width: 20px;
    height: 20px;
  }
  .icons a:nth-child(2) {
    display: none;
  }

  /* main */
  /* 메인비주얼 */
  /* 📍📍📍메인비주얼 높이랑 글자위치 고민해보기📍📍📍 */
  .main_visual {
    width: 100%;
    height: 520px;
    display: flex;
    justify-content: start;
    padding: 12px;
    box-sizing: border-box;
  }
  .main_visual_text {
    background-color: #ffffff0d;
    width: 100%;
    padding: 10px;
    margin-top: 24px;
  }
  .main_visual_text > h2 {
    font-size: 18px;
  }
  .main_visual_text > h4 {
    font-size: 10px;
    line-height: 12px;
  }
  .text_btn {
    width: fit-content;
    display: flex;
    font-size: 8px;
    line-height: 10px;
  }
  .text_btn > a:last-child {
    display: none;
  }
  .chips_con {
    display: flex;
    margin-bottom: 16px;
  }
  /* 섹션1 - 베스트 */
  /* 베스트-컨텐츠 */
  .sec1 .con_wrap {
    width: 100%;
    flex-wrap: wrap;
    gap: 16px;
  }
  .sec1 .card1 {
    width: calc(50% - 8px);
    height: 140px;
    padding: 16px;
    margin-top: 40px;
    display: flex;
  }
  .sec1 .card1:hover .card_img {
    top: -40px;
  }
  /* 이미지 틀 div */
  .sec1 .card_img {
    width: 80px;
    height: 80px;
    top: -40px;
  }
  .sec1 .card_img > img {
    transform: translate(0) scale(1);
  }
  .card_img > img.sec1_m4 {
    transform: translateY(-20px) scale(0.98);
  }
  .card_img > img.sec_1_s1 {
    transform: translateY(-20px) scale(1.1);
  }

  .card_img > img.sec_1_s2 {
    transform: translateY(-48px);
  }

  .card_img > img.sec_1_s3 {
    transform: translateY(-32px);
  }
  .card_img > img.sec_1_s4 {
    transform: translateY(-22px) scale(1.1);
  }
  .sec1 .card1_con {
    margin-top: 48%;
  }
  /* 해시태그 */
  .sec1 .card1 .card1_con > span {
    font-size: 9px;
    font-weight: 400;
    margin-bottom: 16px;
  }
  /* 프로필아이콘 */
  .user_profile {
    width: 100%;
    font-size: 8px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  .sec1 .user_profile > div:last-of-type span {
    margin-left: 16px;
  }
  .sec1 .user_profile span {
    line-height: 10px;
  }
  .sec1 .user_profile > div {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .sec1 .user_profile > span::before {
    width: 1px;
    height: 10px;
    margin-right: 4px;
  }
  .sec1 .user_profile > span::after {
    width: 1px;
    height: 10px;
    margin-left: 4px;
  }
  .sec1 .user_profile div:first-of-type img:first-child {
    display: none;
  }
  .sec1 .user_profile img {
    width: 12px;
    height: 12px;
  }
  .sec1 .card1_con > p {
    display: none;
  }
  .sec1 .user_profile > div:nth-of-type(2) {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  /* 섹션2 - 커뮤니티 */
  .sec2 > .con {
    display: flex;
    flex-wrap: wrap;
  }
  .left_txt {
    width: 100%;
    margin: 0 10px;
  }
  .right_table {
    width: 100%;
    position: relative;
  }
  .right_table .more_wrap {
    position: absolute;
    top: -36px;
    right: 0;
  }
  .sec2 .right_table img {
    width: 14px;
    height: 14px;
  }
  .sec2 .table1 {
    padding: 10px;
  }
  .sec2 .user_profile span {
    line-height: 10px;
  }
  .sec2 .user_profile > div:last-of-type span {
    margin-left: 16px;
  }
  .sec2 h4 {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 12px;
  }
  .table1 p {
    width: auto;
    height: 12px;
    overflow: hidden;
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
  }
  .sec2 .user_profile > span::before,
  .sec2 .user_profile > span::after {
    width: 1px;
    height: 10px;
  }

  /* 섹션3 - 이벤트  */
  .sec3 .coupon_wrap {
    justify-content: center;
  }
  .sec3 .sec3_btn {
    font-size: 10px;
    padding: 4px 8px;
    top: -10px;
  }
  .hover_img2 {
    display: none;
  }
  .coupon:hover .coupon_text {
    color: #111;
  }
  .sec3 .coupon:hover .sec3_btn {
    background-color: #ff834f;
    color: #fff;
    border: 1px solid #ff834f;
  }
  .coupon_text {
    top: 26%;
  }
  .coupon_text > p {
    font-size: clamp(10px, 10px, 14px);
  }
  .coupon_text > h4 {
    font-size: clamp(14px, 14px, 16px);
  }

  /* 섹션4 - 추천 스타일링 */
  .sec4 .card_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }
  .flip {
    width: 100%;
    height: 324px;
  }
  .sec4 .sec_txt > p {
    font-size: 14px;
  }

  .card_back > .card_con > h4 {
    font-size: 18px;
    margin-bottom: 16px;
  }
  .circle {
    width: 28px;
    height: 28px;
  }
  .sec4 .maintext {
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 8px;
  }
  .sec4 .subtext {
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 4px;
  }

  /* 섹션5 - 추천제품 */
  .sec5 .sec_txt > p {
    font-size: 14px;
  }
  .sec5 > .con > .con_wrap {
    gap: 16px;
    margin-top: 16px;
  }
  .sec5 .card1 {
    /* width: calc(50vw - 16px); */
    width: calc(50% - 16px);
    padding: 10px;
  }
  .sec5 .img_case {
    width: 100%;
    /* height: 132px; */
    height: 40%;
  }
  .sec5 .big_img {
    transform: scale(1);
  }
  .sec5 .con_wrap .chips {
    width: fit-content;
    font-size: 10px;
  }
  .sec5 .cardtext {
    /* height: clamp(80px, 100px, 150px); */
    height: 24%;
  }
  .sec5 .cardtext > div > span {
    font-size: 12px;
    line-height: 16px;
  }
  .sec5 .cardtext > span {
    font-size: 12px;
    line-height: 16px;
  }
  .sec5 .cardtext h4 {
    font-size: 14px;
  }
  .sec5 .line {
    width: 98%;
    height: 1px;
    background-color: #d6d6d6;
    margin: 16px auto;
  }
  .sec5 .cardtext > div img {
    width: 14px;
    height: 14px;
  }
  /* 탑버튼 */
  .top_btn {
    width: 52px;
    font-size: 14px;
  }
  .top_btn a {
    padding: 6px 8px;
    line-height: 27px;
  }
  /* footer */
  footer .con {
    padding-top: 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
    height: 80px;
  }
  footer h2 {
    width: 129px;
  }
  .sitemap > ul {
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0;
  }
  .sitemap > ul > li {
    padding: 0;
    box-sizing: border-box;
  }
  .sitemap > ul > li > a {
    color: #4d4d4d;
    font-size: 10px;
    font-weight: 300;
    line-height: 10px;
  }
  footer span {
    font-size: 10px;
    line-height: 14px;
  }
}
/* 💡모바일M💡 */
@media screen and (min-width: 375px) and (max-width: 424px) {
  /* 계절칩 공통 */
  .chips_seoson .chips {
    padding: 8px 10px;
  }
  /* 섹션1 - 베스트 */
  .user_profile {
    width: 100%;
    justify-content: space-evenly;
    font-weight: 400;
  }
  .sec1 .card1 > div > span {
    font-size: 10px;
  }
  .sec1 .user_profile > span::before {
    margin-right: 8px;
  }
  .sec1 .user_profile > span::after {
    margin-left: 8px;
  }
  .sec1 .card1_con {
    margin-top: 26%;
  }

  /* 섹션2 - 커뮤니티 */
  .sec2 h4 {
    font-size: 14px;
    line-height: 20px;
  }
  .table1 p {
    font-size: 12px;
    font-weight: 400;
  }
  .sec2 .user_profile span {
    font-size: 10px;
  }
  /* 섹션3 - 이벤트  */
  .sec3 .sec3_btn {
    font-size: 11px;
    padding: 6px 10px;
    top: -10px;
  }
  .hover_img2 {
    display: none;
  }
  .coupon:hover .coupon_text {
    color: #111;
  }
  .sec3 .coupon:hover .sec3_btn {
    background-color: #ff834f;
    color: #fff;
    border: 1px solid #ff834f;
  }

  .coupon_text > p {
    font-size: 12px;
  }
  .coupon_text > h4 {
    font-size: 20px;
  }
  /* 섹션4 - 추천 스타일링 */
  .sec4 .subtext {
    font-weight: 400;
  }
}
/* 💡모바일L (햄버거,메인비주얼,섹션3,섹션4) */
@media screen and (min-width: 425px) and (max-width: 767px) {
  .user_profile img {
    width: 12px;
    height: 12px;
  }
  /* header */
  header {
    height: 40px;
  }
  /* logo */
  h1 {
    width: 146px;
  }
  .icons {
    gap: 12px;
  }
  /* 섹션1 - 베스트 */
  .sec1 .card1 {
    height: 160px;
  }
  .sec1 .card_img {
    width: 100px;
    height: 100px;
  }
  /* 해시태그 */
  .sec1 .card1 .card1_con > span {
    font-size: 11px;
  }
  /* 프로필 글자 */
  .sec1 .user_profile span {
    font-size: 10px;
  }
  .sec1 .user_profile > span::before {
    margin-right: 12px;
  }
  .sec1 .user_profile > span::after {
    margin-left: 12px;
  }
  .sec1 .card1_con {
    margin-top: 34%;
  }
  /* 섹션2 - 커뮤니티 */
  .sec2 .user_profile {
    font-size: 10px;
  }
  .sec2 h4 {
    font-size: 16px;
    line-height: 22px;
  }
  .table1 p {
    font-size: 12px;
    font-weight: 400;
  }
  /* 섹션3 - 이벤트 */
  .hover_img2 {
    display: none;
  }
  .coupon:hover .coupon_text {
    color: #111;
  }
  .sec3 .sec3_btn {
    font-size: 12px;
    padding: 6px 12px;
  }
  .sec3 .coupon:hover .sec3_btn {
    background-color: #ff834f;
    color: #fff;
    border: 1px solid #ff834f;
  }

  .coupon_text > p {
    font-size: 14px;
  }
  .coupon_text > h4 {
    font-size: 20px;
  }
  .hover_img2 {
    display: none;
  }
  /* 섹션4 - 추천 스타일링 */
  .sec4 .subtext {
    font-weight: 400;
  }
}
@media screen and (min-width: 540px) and (max-width: 1023px) {
  /* header */
  header {
    height: 40px;
  }
  /* logo */
  h1 {
    width: 146px;
  }
  /* 메인비주얼 */
  .main_visual_text > h4 {
    font-size: 16px;
    line-height: 18px;
  }
  .text_btn {
    font-size: 11px;
    line-height: 12px;
  }
  /* 섹션1 - 베스트 */
  .sec1 .card1 {
    height: clamp(166px, 170px, 180px);
    height: 170px;
  }
  /* 이미지 틀 div */
  .sec1 .card_img {
    width: 120px;
    height: 120px;
    top: -50px;
  }
  /* 해시태그 */
  .sec1 .card1 .card1_con > span {
    font-size: 14px;
  }
  .sec1 .user_profile {
    width: fit-content;
    margin: 0 auto;
    gap: 10px;
  }
  /* 프로필 글자 */
  .sec1 .user_profile span {
    font-size: 12px;
  }
  /* 유저프로필 이미지 */
  .sec1 .user_profile div:first-of-type img:first-child {
    display: block;
    width: 16px;
    height: 16px;
  }
  .sec1 .card1_con {
    margin-top: clamp(90px, 96px, 110px);
  }
  /* 섹션2 - 커뮤니티 */
  .sec2 .user_profile {
    font-size: 12px;
  }
  .sec2 .user_profile div:first-of-type img {
    margin-right: 4px;
  }
  .sec2 .user_profile span {
    line-height: 16px;
  }
  .sec2 .user_profile > div:last-of-type span {
    margin-left: 26px;
  }
  .sec2 .right_table img {
    width: 16px;
    height: 16px;
  }
  .sec2 .user_profile > span::before,
  .sec2 .user_profile > span::after {
    width: 1px;
    height: 16px;
  }
  /* 섹션3 - 이벤트 */
  .sec3 .sec3_btn {
    font-size: 14px;
    padding: 6px 12px;
    top: -12px;
  }
  .coupon_text {
    top: 33%;
  }
  /* 섹션4 - 추천 스타일링 */
  .sec4 .hidden_card {
    /* 숨겨뒀던카드 540부터 보여주기 */
    display: block;
  }
  .sec4 .card_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    justify-content: center;
  }
  .flip {
    width: calc(50% - 28px);
    height: 400px;
  }
  /* best, worst 간격 */
  .card_con > div:nth-of-type(2) {
    margin-bottom: 16px;
  }
  .card_back > .card_con > h4 {
    font-size: 18px;
    margin-bottom: 16px;
  }
  .sec4 .maintext {
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 8px;
  }
  .sec4 .subtext {
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 4px;
  }
  .sec4 .big_img {
    transform: scale(0.8);
  }
}

/* 💡태블릿💡 */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* 공통 */
  .con {
    width: 95%;
  }
  /* 섹션 공통영역 */
  section {
    margin-bottom: 80px;
  }
  .sec_txt {
    text-align: center;
    margin-bottom: 40px;
  }
  /* header */
  header {
    height: 80px;
  }
  header .con {
    width: 98%;
  }
  header .icons.menu {
    display: none;
  }
  /* logo */
  h1 {
    width: 150px;
  }
  #gnb {
    display: block;
    height: 80px;
    font-size: 14px;
    font-weight: 300;
  }
  #gnb > ul {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 27px 0;
    box-sizing: border-box;
    line-height: 25px;
  }
  #gnb > ul > li > a {
    padding: 0 16px;
  }
  /* 2차메뉴 */
  #gnb .submenu li {
    font-size: 12px;
  }
  .icons {
    gap: 16px;
  }
  .icons img {
    width: 22px;
    height: 22px;
  }
  .icons a:nth-child(2) {
    display: flex;
  }
  /* 메인비주얼 */
  .main_visual {
    height: 640px;
  }
  .main_visual_text {
    width: 100%;
    padding: 20px;
  }
  .main_visual_text > h2 {
    font-size: 44px;
  }
  .main_visual_text > h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }
  .text_btn {
    font-size: 14px;
    gap: 18px;
  }
  /* 앱다운로드 라이트박스 */
  .light_box {
    /* display: none; */
    width: 480px;
    height: 560px;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
  }
  /* 섹션1 - 베스트 */
  .sec1 .con_wrap {
    width: 100%;
    flex-wrap: wrap;
    gap: 28px;
    justify-content: center;
  }
  .sec1 .card1 {
    width: calc(50% - 16px);
    height: 320px;
    margin-top: 94px;
  }
  .sec1 .card1:hover .card_img {
    top: -40px;
  }
  /* 이미지 틀 div */
  .sec1 .card_img {
    width: 160px;
    height: 160px;
    top: -40px;
  }
  .sec1 .card_img > img {
    transform: translate(0) scale(1);
  }
  .card_img > img.sec1_m4 {
    transform: translateY(-20px) scale(0.98);
  }
  .card_img > img.sec_1_s1 {
    transform: translateY(-20px) scale(1.1);
  }
  .card_img > img.sec_1_s2 {
    transform: translateY(-48px);
  }
  .card_img > img.sec_1_s3 {
    transform: translateY(-32px);
  }
  .card_img > img.sec_1_s4 {
    transform: translateY(-22px) scale(1.1);
  }
  .sec1 .card1_con {
    margin-top: 48%;
    margin-top: clamp(30%, 40%, 40px);
  }
  /* 해시태그 */
  .sec1 .card1 .card1_con > span {
    font-size: 16px;
  }
  /* 프로필아이콘 */
  .sec1 .user_profile span {
    font-size: 14px;
    line-height: 14px;
  }
  .sec1 .user_profile > span::before {
    height: 16px;
    margin-right: 6px;
  }
  .sec1 .user_profile > span::after {
    height: 16px;
    margin-left: 6px;
  }
  .sec1 .user_profile img {
    width: 18px;
    height: 18px;
  }
  .sec1 .card1_con > p {
    font-size: 12px;
    margin-top: 16px;
  }
  .sec1 .card1_con > p br {
    display: none;
  }

  /* 섹션2 - 커뮤니티 */
  .sec2 > .con {
    display: flex;
    flex-wrap: wrap;
  }
  .left_txt {
    width: 100%;
    margin: 0 10px;
  }
  .right_table {
    width: 100%;
    position: relative;
  }
  .sec2 .table1 {
    padding: 28px 10px;
  }
  .sec2 .user_profile span {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
  }
  .sec2 .user_profile > span::before {
    height: 14px;
  }
  .sec2 .user_profile > span::after {
    height: 14px;
  }
  .sec2 h4 {
    margin-bottom: 12px;
  }
  .table1 p {
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
  }
  /* 섹션3 - 이벤트 */
  .hover_img2 {
    display: none;
  }
  .coupon:hover .coupon_text {
    color: #111;
  }
  .sec3 .coupon:hover .sec3_btn {
    background-color: #ff834f;
    color: #fff;
    border: 1px solid #ff834f;
  }
  .sec3 .sec3_btn {
    font-size: 13px;
  }
  .coupon_text {
    top: 28%;
  }
  .coupon_text > p {
    font-size: 12px;
  }
  .coupon_text > h4 {
    font-size: 18px;
  }
  /* 섹션4 - 추천스타일링 */
  .sec4 .hidden_card {
    display: block;
  }
  .flip {
    width: clamp(400px, 440px, 537px);
  }

  /* 섹션5 - 추천메이크업 */
  .sec5 .hidden_card {
    display: block;
  }
  .sec5 > .con > .con_wrap {
    justify-content: center;
  }
  .sec5 .card1 {
    width: calc(33% - 28px);
  }
  .sec5 .img_case {
    width: 100%;
  }
  /* footer */
  footer .con {
    padding-top: 10px;
    box-sizing: border-box;
    height: 80px;
    flex-direction: column;
    align-items: start;
    height: 80px;
  }
  footer h2 {
    width: 129px;
  }
  .sitemap > ul {
    padding: 0;
  }
  .sitemap > ul > li {
    padding: 0;
  }
  .sitemap > ul > li > a {
    line-height: 34px;
  }
  footer span {
    font-size: 12px;
    line-height: 12px;
  }
}
/* 💡노트북💡 */
@media screen and (min-width: 1024px) and (max-width: 1919px) {
  /* 공통 */
  .con {
    width: 95%;
  }
  /* header */
  header {
    height: 80px;
  }
  header .con {
    width: 98%;
  }
  /* logo */
  h1 {
    width: 180px;
  }
  #gnb {
    font-size: 16px;
  }
  #gnb > ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 27px 0;
    box-sizing: border-box;
    line-height: 25px;
  }
  #gnb > ul > li > a {
    padding: 0 20px;
  }
  /* 2차메뉴 */
  #gnb .submenu li {
    font-size: 14px;
  }
  .icons {
    gap: 32px;
  }
  .icons img {
    width: 24px;
    height: 24px;
  }
  .icons a:nth-child(2) {
    display: flex;
  }
  /* 메인비주얼 */
  .main_visual_text {
    width: 100%;
    padding: 20px;
  }
  /* 섹션1 - 베스트 */
  .sec1 .con_wrap {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 28px;
  }
  .sec1 .card1 {
    width: calc(48% - 28px);
    width: calc(1620px / 4 - 28px);
  }
  .sec1 .card1 > div > span {
    font-size: 18px;
  }
  /* 해시태그 */
  .sec1 .card1 .card1_con > span {
    font-size: 16px;
  }
  /* 프로필아이콘 */
  .sec1 .user_profile span {
    font-size: 14px;
    line-height: 16px;
  }
  .sec1 .user_profile > span::before {
    height: 16px;
    margin-right: 6px;
  }
  .sec1 .user_profile > span::after {
    height: 16px;
    margin-left: 6px;
  }
  .sec1 .card1_con > p {
    font-size: 12px;
    margin-top: 16px;
  }
  .sec1 .card1_con > p br {
    display: none;
  }
  /* 섹션2 - 커뮤니티 */
  .sec2 .user_profile > span::before,
  .sec2 .user_profile > span::after {
    height: 16px;
  }
  .sec2 h4 {
    margin-bottom: 16px;
  }
  /* 섹션3 - 이벤트 */
  .hover_img2 {
    display: none;
  }
  .coupon:hover .coupon_text {
    color: #111;
  }
  .sec3 .coupon:hover .sec3_btn {
    background-color: #ff834f;
    color: #fff;
    border: 1px solid #ff834f;
  }
  .sec3 .sec3_btn {
    top: -6%;
    font-size: 14px;
    padding: 6px 12px;
  }
  .coupon_text {
    top: 30%;
  }
  .coupon_text p {
    font-size: 16px;
  }
  .coupon_text h4 {
    font-size: 20px;
  }
  /* 섹션4 - 추천 스타일링 */
  .sec4 .card_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    justify-content: center;
  }
  .flip {
    height: clamp(400px, 440px, 537px);
  }
  .card_back > .card_con > h4 {
    font-size: 18px;
    margin-bottom: 16px;
  }
  /* best, worst 간격 */
  .card_con > div:nth-of-type(2) {
    margin-bottom: 16px;
  }
  .sec4 .maintext {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 8px;
  }
  .sec4 .subtext {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 14px;
  }
  .sec4 .hidden_card {
    display: none;
  }
  /* 섹션5 - 추천메이크업 */
  .sec5 .hidden_card {
    display: block;
  }
  .sec5 > .con > .con_wrap {
    justify-content: center;
  }
  .sec5 .card1 {
    width: calc(30% - 28px);
  }
  .sec5 .img_case {
    width: 100%;
    height: auto;
  }
  /* footer */
  footer .con {
    padding-top: 10px;
    box-sizing: border-box;
    height: 80px;
    justify-content: space-between;
    align-items: center;
  }
  footer h2 {
    width: 180px;
  }
  .sitemap > ul {
    padding: 0;
  }
  .sitemap > ul > li {
    padding: 0;
  }
  .sitemap > ul > li > a {
    line-height: 34px;
  }
  footer span {
    font-size: 12px;
    line-height: 12px;
  }
}

/* 섹션3, 섹션4 */
@media screen and (min-width: 1220px) and (max-width: 1439px) {
  /* 섹션1 - 베스트 */
  .sec1 .con_wrap {
    padding: 0 128px;
    box-sizing: border-box;
  }
  /* .sec1 .card1 {
    width: calc(1620px / 4 - 28px);
  } */
  .sec1 .user_profile span {
    font-size: 10px;
    line-height: 12px;
  }
  .sec1 .user_profile > span::before {
    height: 12px;
    margin-right: 8px;
  }
  .sec1 .user_profile > span::after {
    height: 12px;
    margin-left: 8px;
  }
  /* 섹션2 - 커뮤니티 */
  .left_txt {
    width: 40%;
    margin: 308px auto;
  }
  /* 섹션3 - 이벤트 */
  .hover_img2 {
    display: none;
  }
  .coupon:hover .coupon_text {
    color: #111;
  }
  .sec3 .coupon:hover .sec3_btn {
    background-color: #ff834f;
    color: #fff;
    border: 1px solid #ff834f;
  }

  .coupon_text p {
    font-size: clamp(12px, 12px, 14px);
  }
  /* 섹션4 - 추천스타일링 */
  .sec4 .subtext {
    font-size: 15px;
  }
}
@media screen and (min-width: 1440px) {
  .main_visual {
    background-position: center;
    justify-content: center;
  }
  .main_visual_text {
    width: fit-content;
    padding: 0;
  }
  /* 섹션1 - 베스트 */

  .sec1 .card1 {
    width: calc(25% - 28px);
    height: 340px;
  }
  /* 해시태그 */
  .sec1 .card1 .card1_con > span {
    font-size: 16px;
  }
  .sec1 .user_profile span {
    font-size: 12px;
    line-height: 12px;
  }
  .sec1 .user_profile > span::before {
    height: 12px;
    margin-right: 6px;
  }
  .sec1 .user_profile > span::after {
    height: 12px;
    margin-left: 6px;
  }

  /* 섹션3 - 이벤트 */
  .hover_img2 {
    display: none;
  }
  .coupon:hover .coupon_text {
    color: #111;
  }
  .sec3 .coupon:hover .sec3_btn {
    background-color: #ff834f;
    color: #fff;
    border: 1px solid #ff834f;
  }
  .coupon_text {
    top: 30%;
    left: 53%;
  }
  .coupon_text p {
    font-size: clamp(14px, 14px, 16px);
    font-weight: 400;
  }
  .coupon_text h4 {
    font-size: 20px;
  }
  /* 섹션4 - 추천스타일링 */
  .card_back > .card_con > h4 {
    color: #ff834f;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    text-align: center;
    margin-bottom: 32px;
  }
  .sec4 .maintext {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 8px;
  }
  .sec4 .subtext {
    font-size: 16px;
    font-weight: 300;
  }
}
@media screen and (min-width: 1920px) {
  /* 섹션3 - 이벤트 */
  .hover_img2 {
    display: block;
  }
  .coupon:hover .hover_img2 {
    opacity: 1;
  }
  .coupon:hover .coupon_text {
    color: #fff;
  }
  .sec3 .coupon:hover .sec3_btn {
    background-color: #fff;
    color: #ff834f;
    border: 1px solid #ff834f;
  }
  /* 섹션4 - 추천스타일링 */
  .sec4 .hidden_card {
    display: none;
  }
  /* 섹션5 - 추천메이크업 */
  .sec5 .hidden_card {
    display: none;
  }
}
