@charset "utf-8";
@import url("../../css/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+KR:wght@100..900&display=swap");

body {
  font-family: "Inter", "Noto Sans KR", sans-serif;
  color: #111;
  overflow-x: hidden;
}
/* 공통영역 */
.con {
  width: 1600px;
  height: auto;
  margin: 0 auto;
}
h3 {
  /* 섹션제목 */
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 28px;
  line-height: 46px;
}
h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
}
a {
  font-family: "Inter", "Noto Sans KR", sans-serif;
}

/* header */
header {
  width: 100%;
  height: 80px;
  position: relative;
  background-color: #fff;
  z-index: 999;
  /* border-bottom: 1px solid #f5f4f4; */
}
header .con {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 209px;
}
/* logo */
h1 {
  width: 212px;
}
/* gnb */
#gnb {
  width: fit-content;
  height: 80px;
  font-size: 15px;
  font-weight: 300;
}
/* 1차메뉴 */
#gnb > ul {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 26px 0;
  box-sizing: border-box;
  line-height: 25px;
  /* background-color: gold; */
}
#gnb > ul > li {
  /* width: 164px; */
  width: fit-content;
  text-align: center;
  transition: 0.3s;
  position: relative;
}
#gnb > ul > li > a {
  line-height: 25px;
  display: block;
  padding: 0 24px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  transition: 0.3s;
}
#gnb > ul > li:hover > a {
  color: #ff834f;
  text-decoration: underline;
}
/* 2차메뉴 */
#gnb .submenu {
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  position: absolute;
  top: 80px;
  z-index: 1000;
}
#gnb .submenu li {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 48px;
}
#gnb .submenu li a {
  transition: 0.3s;
  display: block;
  width: 100%;
}
#gnb:hover .submenu {
  height: 110px;
}
.submenu > li > a:hover {
  color: #ff834f;
  font-weight: 500;
}
#gnb::after {
  content: "header-background";
  font-size: 0;
  position: absolute; /* 0점 헤더기준_gnb기준이면 그거 시작지점부터 100vw */
  top: 80px; /* 헤더아래부터 */
  left: 0;
  width: 100vw;
  height: 0; /*마우스올리면 그때보여야해서*/
  transition: 0.5s;
  backdrop-filter: blur(10px); /* 배경 블러처리 △뒤에 단색이면 블러 안먹음 */
}
#gnb:hover::after {
  height: 200px;
  background-color: #ffffff4b;
  border-bottom: 1px solid #ddd;
}
.icons {
  display: flex;
  gap: 50px;
}
.icons a {
  display: block;
  padding: 4px;
  box-sizing: border-box;
}
.icons img {
  width: 24px;
  height: 24px;
}
.icons .menu_icon {
  display: none;
}
/* 메인 */
/* 첫번째섹션 */
.banner {
  width: 100%;
  height: 520px;
  overflow: hidden;
  background-color: #ffcdb9;
}
/* 베너안에 글씨 */
.banner > div:first-child {
  margin: 215px 151px;
}
/* 진행중인 이벤트 */
.content .con > div:first-child {
  display: flex;
  gap: 32px;
  margin: 32px 0;
}
/* .content .con > div:first-child a:first-of-type {
  color: #ff834f;
} */
.content .con > div:first-child a {
  transition: 0.3s;
}
.content .con > div:first-child a:hover {
  color: #ff834f;
}
.card_wrap {
  display: flex;
  justify-content: space-between;
}
/* 카드1 */
.card_img {
  position: relative;
  left: 0;
  top: 0;
  border-radius: 8px;
  overflow: hidden;
}
.card_img img {
  transition: 0.3s;
}
.card:hover .card_img img {
  opacity: 0.7;
}

.card_img > .cart_text {
  position: absolute;
  top: 40px;
  left: 30px;
}
.card h4 {
  margin: 12px 0;
}
.card h4 + p {
  font-weight: 300;
}
.page {
  width: fit-content;
  height: fit-content;
  margin: 32px auto;
  font-size: 18px;
}
.page > span {
  color: #d6d6d6;
}
.page > span > span {
  color: #111;
}
/* top버튼 */
.top_btn {
  width: fit-content;
  height: fit-content;
  position: fixed;
  right: 28px;
  bottom: 28px;
  color: #fff;
  background-color: #ff834f;
  border-radius: 30px;
  padding: 8px 16px;
  box-sizing: border-box;
  text-align: center;
  font-weight: 500;
}
/* footer */
footer {
  border-top: 1px solid #d6d6d6;
  box-sizing: border-box;
}
footer .con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
footer h2 {
  width: 212px;
}
.sitemap > ul {
  display: flex;
  gap: 10px;
  padding: 10px;
}
.sitemap > ul > li {
  padding: 10px;
  box-sizing: border-box;
}
.sitemap > ul > li > a {
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 300;
  line-height: 80px;
}
footer span {
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
}
