@charset "utf-8";
@import url("../../css/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+KR:wght@100..900&display=swap");

/* 공통영역 */
body {
  font-family: "Inter", "Noto Sans KR", sans-serif;
  color: #111;
  background-color: #fff;
  height: 100vh;
}
.con {
  width: 1600px;
  height: auto;
  margin: 0 auto;
}
/* header */
header {
  width: 100%;
  height: 80px;
  position: relative;
  background-color: #fff;
  z-index: 999;
  border-bottom: 1px solid #f5f4f4;
}

header .con {
  /* background-color: #fae100; */
  width: 85%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .icons.menu {
  display: none;
}
/* logo */
h1 {
  width: 212px;
}
/* gnb */
#gnb {
  width: fit-content;
  height: 80px;
  font-size: 15px;
  font-weight: 300;
}
/* 1차메뉴 */
#gnb > ul {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 26px 0;
  box-sizing: border-box;
  line-height: 25px;
}
#gnb > ul > li {
  /* width: 164px; */
  width: fit-content;
  text-align: center;
  transition: 0.3s;
  position: relative;
  border-bottom: 1px solid #fff;
}
#gnb > ul > li > a {
  line-height: 25px;
  display: block;
  padding: 0 24px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  transition: 0.3s;
}
#gnb > ul > li:hover {
  border-bottom: 1px solid #ff834f;
}
#gnb > ul > li:hover > a {
  color: #ff834f;
}
/* 2차메뉴 */
#gnb .submenu {
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  position: absolute;
  top: 80px;
  z-index: 1000;
}
#gnb .submenu li {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 48px;
}
#gnb .submenu li a {
  transition: 0.3s;
  display: block;
  width: 100%;
}
#gnb:hover .submenu {
  height: 110px;
}
.submenu > li > a:hover {
  color: #ff834f;
  font-weight: 500;
}
#gnb::after {
  content: "header-background";
  font-size: 0;
  position: absolute; /* 0점 헤더기준_gnb기준이면 그거 시작지점부터 100vw */
  top: 80px; /* 헤더아래부터 */
  left: 0;
  width: 100vw;
  height: 0; /*마우스올리면 그때보여야해서*/
  transition: 0.5s;
  backdrop-filter: blur(10px); /* 배경 블러처리 △뒤에 단색이면 블러 안먹음 */
}
#gnb:hover::after {
  height: 200px;
  background-color: #ffffff4b;
  border-bottom: 1px solid #ddd;
}
.icons {
  display: flex;
  gap: 50px;
}
.icons a {
  display: block;
  padding: 4px;
  box-sizing: border-box;
}
.icons img {
  width: 24px;
  height: 24px;
}
/* 로그인폼 */
.login {
  background-color: #fff;
  margin: 140px auto;
  /* width: 388px; */
  width: 30%;
  height: fit-content;
  padding: 60px 80px;
  box-sizing: border-box;
  border: 1px solid #ff834f;
  border-radius: 8px;
}
form {
  margin-bottom: 28px;
}
.login h2 {
  font-family: "Aboreto", serif;
  font-size: 2vw;
  line-height: 46px;
  margin-bottom: 28px;
}
.input_box {
  background-color: #fff;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #b4b4b4;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 28px;
}

form > span {
  font-family: "Aboreto", serif;
  font-size: 14px;
  line-height: 16px;
}
form > div:nth-child(2) {
  margin-bottom: 26px;
}
.input_box input {
  background-color: #fff;
  border: none;
  width: 100%;
  height: 23px;
  /* margin-bottom: 26px; */
  font-size: 16px;
}
.input_box input:focus {
  outline: none;
  border: none;
  color: #ff834f;
}
form .keep_text span {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #4d4d4d;
}
form .search span {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #4d4d4d;
  text-align: center;
  cursor: pointer;
}
form .search span:hover {
  color: #ff834f;
  font-weight: 400;
}
form .keep {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
form .keep .search > span:first-child::after {
  content: "line";
  font-size: 0;
  display: inline-block;
  width: 1px;
  height: 14px;
  background-color: #d6d6d6;
  margin: 0 16px;
  text-align: center;
}
.btn {
  width: 100%;
  color: #fff;
  background-color: #ff834f;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  margin-top: 28px;
  cursor: pointer;
  font-family: "inter", sans-serif;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  transition: 0.5s;
}
.btn:not(:hover) .btn {
  opacity: 1;
}
.btn:hover {
  opacity: 0.5;
}
.btn:last-child {
  background-color: #fae100;
  color: #111;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
}
.btn:last-child > img {
  display: inline-block;
  margin: -5px 0;
}
.login > span {
  font-size: 14px;
  color: #4d4d4d;
  line-height: 16px;
  margin-left: -2px;
}
.login h3 {
  width: fit-content;
  font-size: 18px;
  font-weight: 600;
  color: #ff834f;
  line-height: 24px;
  margin-top: 4px;
  transition: 0.5s;
  padding: 4px 8px;
  border-radius: 8px;
  box-sizing: border-box;
  margin-left: -10px;
}
.login h3:hover {
  background-color: #ff834f;
  color: #fff;
}

/* 💥반응형💥 */

/* 💡모바일S💡 */
@media screen and (min-width: 320px) and (max-width: 767px) {
  /* 공통영역 */
  .con {
    width: 95%;
  }
  /* header */
  header {
    width: 100%;
    height: 32px;
    position: relative;
    z-index: 999;
  }
  header .con {
    height: 100%;
  }
  header .icons.menu {
    display: flex;
  }
  /* 햄버거메뉴 */
  #ham_menu {
    display: none;
  }
  #ham_menu:checked {
    display: none;
  }
  #ham_menu + label {
    display: block;
    width: 20px;
    height: 12px;
    cursor: pointer;
    position: relative;
  }
  #ham_menu + label > span {
    display: block;
    width: 100%;
    height: 1px;
    border-radius: 30px;
    background: #4d4d4d;
    position: absolute;
    transition: all 0.35s;
    z-index: 2;
  }
  /* 햄버거 닫혔을 때 */
  #ham_menu + label > span:nth-child(1) {
    top: 0px;
  }
  #ham_menu + label > span:nth-child(2) {
    top: 45%;
  }
  #ham_menu + label > span:nth-child(3) {
    bottom: 0px;
  }
  /* 햄버거 열렸을 때 */
  #ham_menu:checked + label > span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
  }
  #ham_menu:checked + label > span:nth-child(2) {
    opacity: 0;
  }
  #ham_menu:checked + label > span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-135deg);
  }
  /* 모바일 메뉴 */
  #ham_menu + label + #mobile_menu {
    position: fixed;
    width: 72vw;
    height: 100vh;
    background: #fffffff6;
    top: 0px;
    padding: 60px 25px 25px 25px;
    box-sizing: border-box;
    left: -2000px;
    z-index: 1;
    transition: all 0.5s;
  }
  #ham_menu:checked + label + #mobile_menu {
    left: 0px;
  }
  #mobile_menu > ul > li {
    margin-bottom: 20px;
  }
  #mobile_menu > ul > li > a {
    color: #ff834f;
    font-size: 14px;
    line-height: 20px;
  }
  #mobile_menu .submenu {
    font-size: 12px;
    line-height: 20px;
  }
  /* logo */
  h1 {
    width: 129px;
  }
  /* gnb */
  #gnb {
    display: none;
  }
  .icons img {
    width: 20px;
    height: 20px;
  }
  .icons.menu img {
    width: 20px;
    height: 20px;
  }
  .icons a:nth-child(2) {
    display: none;
  }
  .login {
    width: 90%;
    margin: 80px auto;
    padding: 10px 14px;
  }
  form {
    width: 100%;
  }
  .login h2 {
    font-size: 8vw;
  }
  form .keep {
    flex-wrap: wrap;
    gap: 16px;
  }
  form .keep .search > span:first-child::after {
    margin: 8px;
  }
  .login h3 {
    font-size: 14px;
  }
}
@media screen and (min-width: 425px) and (max-width: 767px) {
  .login h3 {
    font-size: 16px;
  }
}
@media screen and (min-width: 540px) and (max-width: 767px) {
  .login h2 {
    font-size: 6vw;
  }
  .login h3 {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* 공통 */
  .con {
    width: 95%;
  }
  /* header */
  header .con {
    width: 98%;
  }
  /* logo */
  h1 {
    width: 150px;
  }
  #gnb {
    display: block;
    height: 80px;
    font-size: 14px;
    font-weight: 300;
  }
  #gnb > ul {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 27px 0;
    box-sizing: border-box;
    line-height: 25px;
  }
  #gnb > ul > li > a {
    padding: 0 16px;
  }
  /* 2차메뉴 */
  #gnb .submenu li {
    font-size: 12px;
  }
  .icons {
    gap: 16px;
  }
  .icons img {
    width: 20px;
    height: 20px;
  }
  .icons a:nth-child(2) {
    display: flex;
  }
  .login {
    width: 90%;
    margin: 80px auto;
    padding: 80px 60px;
  }
  .login h2 {
    font-size: 5vw;
  }
  form {
    width: 100%;
  }
  form .keep_text span {
    font-size: 14px;
    font-weight: 400;
  }
  form .search span {
    font-size: 14px;
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1919px) {
  /* 공통 */
  .con {
    width: 95%;
  }
  /* header */
  header .con {
    width: 98%;
  }
  header .icons.menu {
    display: none;
  }
  /* logo */
  h1 {
    width: 150px;
  }
  #gnb {
    display: block;
    height: 80px;
    font-size: 15px;
    font-weight: 300;
  }
  #gnb > ul {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 27px 0;
    box-sizing: border-box;
    line-height: 25px;
  }
  #gnb > ul > li > a {
    padding: 0 16px;
  }
  /* 2차메뉴 */
  #gnb .submenu li {
    font-size: 12px;
  }
  .icons {
    gap: 16px;
  }
  .icons img {
    width: 20px;
    height: 20px;
  }
  .icons a:nth-child(2) {
    display: flex;
  }
  /* 로그인폼 */
  .login {
    margin: 140px auto;
    width: 60%;
    padding: 80px 60px;
  }
  .login h2 {
    font-size: clamp(3vw, 3vw, 5vw);
  }
  form {
    width: 100%;
  }
  form .keep_text span {
    font-size: 14px;
    font-weight: 400;
  }
  form .search span {
    font-size: 14px;
    font-weight: 400;
  }
}
