@charset "utf-8";
@import url("../../css/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+KR:wght@100..900&display=swap");

body {
  font-family: "Inter", "Noto Sans KR", sans-serif;
  color: #111;
  overflow-x: hidden;
}
/* 공통영역 */
.con {
  width: 1600px;
  height: auto;
  margin: 0 auto;
}
h3 {
  /* 섹션제목 */
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 28px;
  line-height: 46px;
}
h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
}
a {
  font-family: "Inter", "Noto Sans KR", sans-serif;
}
/* section {
  margin: 32px 0;
}
.user_profile img {
  width: 20px;
} */
/* chips 공통 */
.chips {
  width: fit-content;
  height: fit-content;
  font-size: 16px;
  color: #4d4d4d;
  text-align: center;
  background-color: #d6d6d648;
  box-sizing: border-box;
  padding: 8px 16px;
  border-radius: 24px;
}
.chips {
  width: 64px;
}
.chips:hover {
  background-color: #ff834f;
  color: #fff;
}
.chips_plus {
  width: fit-content;
  height: fit-content;
  font-size: 16px;
  color: #ff834f;
  text-align: center;
  box-sizing: border-box;
  padding: 8px 16px;
  background-color: #fff;
  border: 1px solid #ff834f;
  border-radius: 24px;
  transition: 0.3s;
  margin-left: auto;
}
.chips_plus:hover {
  background-color: #ff834f;
  color: #fff;
}
.main_chips {
  background-color: #fff;
  border: 1px solid #ff834f;
  color: #ff834f;
  box-sizing: border-box;
}

/* header */
header {
  width: 100%;
  height: 80px;
  position: relative;
  background-color: #fff;
  z-index: 999;
  /* border-bottom: 1px solid #f5f4f4; */
}
header .con {
  width: 85%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .icons.menu {
  display: none;
}
/* logo */
h1 {
  width: 212px;
}
/* gnb */
#gnb {
  width: fit-content;
  height: 80px;
  font-size: 15px;
  font-weight: 300;
}
/* 1차메뉴 */
#gnb > ul {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 26px 0;
  box-sizing: border-box;
  line-height: 25px;
}
#gnb > ul > li {
  /* width: 164px; */
  width: fit-content;
  text-align: center;
  transition: 0.3s;
  position: relative;
  border-bottom: 1px solid #fff;
  transition: 0.3s;
}
#gnb > ul > li > a {
  line-height: 25px;
  display: block;
  padding: 0 24px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  transition: 0.3s;
}
#gnb > ul > li:hover {
  border-bottom: 1px solid #ff834f;
}
#gnb > ul > li:hover > a {
  color: #ff834f;
}
/* 2차메뉴 */
#gnb .submenu {
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  position: absolute;
  top: 80px;
  z-index: 1000;
}
#gnb .submenu li {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 48px;
}
#gnb .submenu li a {
  transition: 0.3s;
  display: block;
  width: 100%;
}
#gnb:hover .submenu {
  height: 110px;
}
.submenu > li > a:hover {
  color: #ff834f;
  font-weight: 500;
}
#gnb::after {
  content: "header-background";
  font-size: 0;
  position: absolute; /* 0점 헤더기준_gnb기준이면 그거 시작지점부터 100vw */
  top: 80px; /* 헤더아래부터 */
  left: 0;
  width: 100vw;
  height: 0; /*마우스올리면 그때보여야해서*/
  transition: 0.5s;
  backdrop-filter: blur(10px); /* 배경 블러처리 △뒤에 단색이면 블러 안먹음 */
}
#gnb:hover::after {
  height: 200px;
  background-color: #ffffff4b;
  border-bottom: 1px solid #ddd;
}
.icons {
  display: flex;
  gap: 50px;
}
.icons a {
  display: block;
  padding: 4px;
  box-sizing: border-box;
}
.icons img {
  width: 28px;
  height: 28px;
}
/* 서치바 */
.search_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.search_bar input {
  /* background-color: yellowgreen; */
  border: 1px solid #d6d6d6;
  border-radius: 8px;
  padding: 6px 8px;
  outline: none;
}
.search_img {
  cursor: pointer;
}

/* 메인 */
/* 첫번째섹션 */
.main_banner {
  margin-top: 0;
}
.banner {
  width: 100%;
  height: 240px;
  overflow: hidden;
  background: url("../../img/sub/banner/styling.png") no-repeat;
  box-sizing: border-box;
}
.sec_txt {
  margin: 75px 4vw;
}
/* 섹션1 - 베스트 */
/* 계절설명문구 */
.best > div:first-of-type {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  color: #4d4d4d;
  line-height: 19px;
  margin-top: 100px;
}
/* 칩스 */
.chips_seoson {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}
.chips_con {
  display: flex;
  gap: 12px;
  margin: 16px 0 100px;
}

/* 컨텐츠 */
.best .con {
  height: auto;
  padding: 60px 0;
  box-sizing: border-box;
}
.best .con_wrap {
  width: 100%;
  height: fit-content;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  /* position: relative;
  top: 0;
  left: 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
  /* gap: 200px; */
}
.best .best_person {
  width: 340px;
  height: 452px;
  /* height: 340px; */
  border-radius: 8px;
  overflow: hidden;
  transition: 0.5s;
  animation: person 0.7s ease 1 forwards;
  will-change: opacity;
}
.best .best_person img {
  transform: scale(1.1);
}
#bestImg_summer {
  transform: translateY(-50px);
}
#bestImg_fall {
  transform: translateY(-160px);
}
@keyframes person {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#winter_best {
  transform: scale(1.1);
}
/* 가운데 텍스트 */

/* 프로필아이콘 */
.user_profile {
  width: 100%;
  font-size: 12px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0;
  padding-right: 124px;
  box-sizing: border-box;
}
.best_person .user_profile span {
  line-height: 17px;
  margin: 0 10px;
}
.user_profile > div:first-of-type {
  display: flex;
  align-items: center;
  gap: 4px;
}
.user_profile > div:last-of-type {
  display: flex;
  align-items: center;
  gap: 4px;
}
.user_profile > span::before {
  content: "line";
  font-size: 0px;
  display: block;
  width: 1px;
  height: 16px;
  background-color: #d6d6d6;
  float: left;
  margin-right: 20px;
}
.user_profile > span::after {
  content: "line";
  font-size: 0px;
  display: block;
  width: 1px;
  height: 16px;
  background-color: #d6d6d6;
  float: right;
  margin-left: 20px;
}
.user_profile > img:last-of-type {
  width: 24px;
  height: 24px;
}
.text_wrap p {
  color: #4d4d4d;
  margin-bottom: 32px;
  line-height: 23px;
}
.text_wrap p + span {
  color: #4d4d4d;
  font-size: 14px;
  line-height: 20px;
}
.text_wrap .icons {
  margin-top: 32px;
  gap: 28px;
}
/* 오른쪽 이미지 */
.right_con {
  margin-right: 40px;
}
.img_wrap {
  width: 476px;
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  justify-content: space-between;
  align-items: center;
}
.imgbox1 {
  width: calc(33%-28px);
  width: 140px;
  padding: 4px;
  box-sizing: border-box;
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
}
.imgbox {
  width: 105px;
  height: 100px;
  border: 1px solid #d6d6d6;
  border-radius: 8px;
  margin-bottom: 12px;
  overflow: hidden;
}
.imgbox img {
  object-fit: scale-down;
}
.img_wrap .imgbox1:nth-of-type(5) img {
  transform: translateY(-30px);
}
.imgbox + span {
  font-size: 12px;
}
#ssm_img {
  transform: scale(1.2);
}
#sm_img {
  transform: scale(1.1);
}
#big_img {
  transform: translateY(-8px);
}
/* 아래컨텐츠 */
.content {
  margin-top: 100px;
}
.card_wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  justify-content: space-around;
}
.content .card_wrap .user_profile {
  font-size: 14px;
  font-weight: 300;
  color: #4d4d4d;
  margin: 0;
  padding-right: 0;
}
.content .card_wrap .user_profile img {
  width: 24px;
  height: 24px;
}
.card_wrap .card1 {
  width: calc(25% - 28px);
  border: 1px solid #d6d6d6;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 80px;
}
.card_wrap .card_img {
  overflow: hidden;
  border: 1px solid #d6d6d6;
  height: 362px;
  margin: 20px 0;
  border-radius: 8px;
}
.card_wrap #sm_img {
  transform: scale(1.07);
  transform-origin: bottom;
}
.card_wrap .card_img img {
  object-fit: cover;
  filter: grayscale(0.7);
  transition: 0.3s;
}
.card_wrap .card1:hover {
  border: 1px solid #ff834f;
  border-radius: 8px;
}
.card_wrap .card1:hover img {
  filter: grayscale(0);
}
.content .icons {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  margin-bottom: 20px;
}
/* .content .icons img {
  width: 20px;
} */
.card_wrap p {
  font-size: 14px;
  color: #111;
  line-height: 20px;
  margin-bottom: 20px;
}
/* 하트 클릭이벤트 */
.icons .like_wrap {
  position: relative;
  width: 28px;
  height: 28px;
}
.icons .like_btn {
  position: absolute;
}
.icons .like_fill_btn {
  position: absolute;
  display: none;
}

.plus_icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plus_icon img {
  transition: 0.5s;
  transform: rotate(0deg);
}
.plus_icon img:hover {
  transform: rotate(360deg);
}
/* 페이저 */
.page {
  width: fit-content;
  height: fit-content;
  margin: 20px auto;
  margin-bottom: 80px;
  font-size: 18px;
}
.page span {
  color: #d6d6d6;
}
.page span > span {
  color: #111;
}

/* top버튼 */
.top_btn {
  width: 60px;
  height: 40px;
  position: fixed;
  right: 4vw;
  bottom: 8vh;
  background-color: #ff834f;
  border-radius: 30px;
}
.top_btn a {
  width: 100%;
  height: 100%;
  display: block;
  padding: 8px;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  font-weight: 500;
  line-height: 24px;
}
/* footer */
footer {
  border-top: 1px solid #d6d6d6;
  box-sizing: border-box;
}
footer .con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
footer h2 {
  width: 212px;
}
.sitemap > ul {
  display: flex;
  gap: 10px;
  padding: 10px;
}
.sitemap > ul > li {
  padding: 10px;
  box-sizing: border-box;
}
.sitemap > ul > li > a {
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 300;
  line-height: 80px;
}
footer span {
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
}
