@charset "utf-8";

/* 💡모바일S💡 */
@media screen and (min-width: 320px) and (max-width: 767px) {
  /* 공통영역 */
  .con {
    width: 95%;
  }
  /* 섹션제목 */
  .sec_txt {
    margin: 93px 4vw;
  }
  h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
    line-height: 22px;
  }
  section {
    margin-bottom: 60px;
  }
  /* chips 공통 */
  .chips {
    width: 54px;
    font-size: 12px;
    line-height: 12px;
    padding: 6px 10px;
    box-sizing: border-box;
  }
  .chips_plus {
    font-size: 10px;
    box-sizing: border-box;
    padding: 4px 8px;
    line-height: 12px;
  }
  .chips con {
    width: 95%;
    margin-bottom: 60px;
  }
  /* header */
  header {
    width: 100%;
    height: 32px;
    position: relative;
    z-index: 999;
  }
  header .con {
    height: 100%;
  }
  header .icons.menu {
    display: flex;
  }
  /* 햄버거메뉴 */
  #ham_menu {
    display: none;
  }
  #ham_menu:checked {
    display: none;
  }
  #ham_menu + label {
    display: block;
    width: 20px;
    height: 12px;
    cursor: pointer;
    position: relative;
  }
  #ham_menu + label > span {
    display: block;
    width: 100%;
    height: 1px;
    border-radius: 30px;
    background: #4d4d4d;
    position: absolute;
    transition: all 0.35s;
    z-index: 2;
  }
  /* 햄버거 닫혔을 때 */
  #ham_menu + label > span:nth-child(1) {
    top: 0px;
  }
  #ham_menu + label > span:nth-child(2) {
    top: 45%;
  }
  #ham_menu + label > span:nth-child(3) {
    bottom: 0px;
  }
  /* 햄버거 열렸을 때 */
  #ham_menu:checked + label > span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
  }
  #ham_menu:checked + label > span:nth-child(2) {
    opacity: 0;
  }
  #ham_menu:checked + label > span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-135deg);
  }
  /* 모바일 메뉴 */
  #ham_menu + label + #mobile_menu {
    position: fixed;
    width: 72vw;
    height: 100vh;
    background: #fffffff6;
    top: 0px;
    padding: 60px 25px 25px 25px;
    box-sizing: border-box;
    left: -2000px;
    z-index: 1;
    transition: all 0.5s;
  }
  #ham_menu:checked + label + #mobile_menu {
    left: 0px;
  }
  #mobile_menu > ul > li {
    margin-bottom: 20px;
  }
  #mobile_menu > ul > li > a {
    color: #ff834f;
    font-size: 14px;
    line-height: 20px;
  }
  #mobile_menu .submenu {
    font-size: 12px;
    line-height: 20px;
  }
  /* logo */
  h1 {
    width: 129px;
  }
  /* gnb */
  #gnb {
    display: none;
  }
  .icons img {
    width: 20px;
    height: 20px;
  }
  .icons.menu img {
    width: 20px;
    height: 20px;
  }
  .icons a:nth-child(2) {
    display: none;
  }

  /* main */
  /* 섹션1 - 베스트 */
  /* 계절설명문구 */
  .best > div:first-of-type {
    margin-top: 60px;
  }
  /* 컨텐츠 */
  .best .con {
    height: auto;
    padding: 0;
  }
  .best .con_wrap {
    position: static;
    justify-content: center;
    padding: 20px 10px;
    box-sizing: border-box;
    gap: 28px;
    flex-direction: column;
  }
  /* 누끼이미지 */
  .best .best_person {
    width: 100%;
    position: static;
    transition: none;
    animation: none;
  }
  /* 가운데 텍스트 */
  /* 프로필아이콘 */
  .user_profile {
    width: 80%;
    font-size: 10px;
    margin: 16px auto;
    padding-right: 0;
    gap: 8px;
  }
  .user_profile span {
    line-height: 10px;
    margin: 0;
    font-size: 13px;
  }
  .user_profile > span::before {
    height: 10px;
    margin-right: 14px;
  }
  .user_profile > span::after {
    height: 10px;
    margin-left: 14px;
  }
  .text_wrap .user_profile img:last-of-type {
    width: 14px;
    height: 14px;
  }
  .text_wrap {
    width: 100%;
    text-align: center;
    order: -1;
  }
  .text_wrap h4 {
    font-size: 18px;
    margin-top: 20px;
  }
  .text_wrap p,
  .text_wrap > span,
  .text_wrap .icons {
    display: none;
  }
  /* 오른쪽 이미지 */
  .right_con {
    width: 100%;
    margin: 0 auto;
    margin-top: 48px;
    text-align: center;
    padding: 0;
  }
  .img_wrap {
    width: 100%;
    justify-content: center;
    gap: 8px;
  }
  .imgbox1 {
    width: calc(50% - 8px);
    height: fit-content;
    align-items: center;
  }
  .imgbox + span {
    text-align: start;
  }

  /* 아래컨텐츠 */

  .content {
    margin-top: 10px;
  }
  .content .icons {
    margin-bottom: 12px;
  }
  .card_wrap {
    flex-direction: column;
    /* gap: 16px; */
    gap: 0;
    justify-content: center;
  }
  .card_wrap .card1 {
    width: 100%;
    /* height: 458px; */
    margin-bottom: 16px;
  }
  /* 프로필 */
  .content .card_wrap .user_profile {
    width: 90%;
  }
  .content .card_wrap .user_profile img {
    width: 12px;
    height: 12px;
  }
  .card_wrap .card_img {
    height: 316px;
  }
  .card_wrap .card_img img {
    object-fit: scale-down;
    filter: grayscale(0);
    transition: none;
  }
  .card_wrap p {
    display: none;
  }
  .plus_icon {
    position: relative;
  }
  .plus_icon img {
    position: absolute;
    top: -46px;
    right: 0px;
  }
  .plus_icon span {
    display: none;
  }
  /* top버튼 */
  .top_btn {
    position: fixed;
    right: 80px;
    bottom: 120px;
  }
  /* footer */
  footer .con {
    padding-top: 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
    height: 80px;
  }
  footer h2 {
    width: 129px;
  }
  .sitemap > ul {
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0;
  }
  .sitemap > ul > li {
    padding: 0;
    box-sizing: border-box;
  }
  .sitemap > ul > li > a {
    color: #4d4d4d;
    font-size: 10px;
    font-weight: 300;
    line-height: 10px;
  }
  footer span {
    font-size: 10px;
    line-height: 14px;
  }
}
/* 💡모바일L */
@media screen and (min-width: 425px) and (max-width: 767px) {
  /* 모바일 메뉴 */
  .best .best_person {
    height: auto;
  }
  .card_wrap .card1 {
    height: 58vh;
    height: fit-content;
  }
  .card_wrap .card_img {
    height: clamp(44vh, 44vh, 362px);
  }
  .user_profile span {
    font-size: 14px;
  }
  .user_profile > span::before {
    margin-right: 32px;
  }
  .user_profile > span::after {
    margin-left: 32px;
  }
  .cardtext h4 {
    font-size: 14px;
  }
}
@media screen and (min-width: 540px) and (max-width: 1023px) {
  /* chips 공통 */
  .chips_con {
    margin: 16px 0 64px;
  }
  .chips {
    width: 58px;
    font-size: 14px;
    padding: 8px 16px;
  }
  .best .best_person {
    height: auto;
  }
  .card_wrap .card1 {
    height: 66vh;
  }
  .card_wrap .card_img {
    height: clamp(52vh, 52vh, 362px);
  }
  /* 프로필 */
  .content .card_wrap .user_profile {
    width: fit-content;
    /* margin: 16px auto; */
  }
  .user_profile span {
    font-size: 14px;
  }
  .cardtext {
    padding: 0 8px;
  }
  .cardtext h4 {
    font-size: 16px;
  }
  .cardtext span {
    font-size: 12px;
  }
  .imgbox1 {
    width: calc(33% - 8px);
  }
  .card_wrap .card1 {
    height: auto;
  }
}
/* 💡태블릿💡 */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* 공통 */
  .con {
    width: 95%;
  }
  /* 섹션제목 */
  .sec_txt {
    margin: 93px 4vw;
  }
  section {
    margin-bottom: 60px;
  }
  /* chips 공통 */
  .chips_con {
    margin: 16px 0 64px;
  }
  .chips {
    width: 58px;
    font-size: 14px;
    padding: 8px 16px;
  }
  .chips_plus {
    font-size: 10px;
    box-sizing: border-box;
    padding: 4px 8px;
    line-height: 12px;
  }
  .chips con {
    width: 95%;
    margin-bottom: 60px;
  }
  /* header */
  header .con {
    width: 98%;
  }
  header .icons.menu {
    display: none;
  }
  /* logo */
  h1 {
    width: 150px;
  }
  #gnb {
    display: block;
    height: 80px;
    font-size: 14px;
    font-weight: 300;
  }
  #gnb > ul {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 27px 0;
    box-sizing: border-box;
    line-height: 25px;
  }
  #gnb > ul > li > a {
    padding: 0 16px;
  }
  /* 2차메뉴 */
  #gnb .submenu li {
    font-size: 12px;
  }
  .icons {
    gap: 16px;
  }
  .icons img {
    width: 20px;
    height: 20px;
  }
  .icons a:nth-child(2) {
    display: flex;
  }
  /* 메인비주얼 */
  .main_visual {
    height: 640px;
  }
  .main_visual_text {
    width: 100%;
    padding: 20px;
  }
  .main_visual_text > h2 {
    font-size: 44px;
  }
  .main_visual_text > h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  } /* main */
  /* 섹션1 - 베스트 */
  /* 컨텐츠 */
  .best {
    margin-top: 64px;
  }
  .best .con {
    height: auto;
    padding: 0;
  }
  .best .con_wrap {
    position: static;
    justify-content: center;
    padding: 60px 10px;
    box-sizing: border-box;
    gap: 28px;
    flex-direction: column;
  }
  .best > div:first-of-type {
    margin-top: 60px;
  }
  /* 누끼이미지 */
  .best .best_person {
    width: 70%;
    position: static;
    transition: none;
    animation: none;
  }
  .text_wrap {
    width: 100%;
    text-align: center;
    order: -1;
  }
  .text_wrap h4 {
    font-size: 24px;
  }
  .text_wrap p,
  .text_wrap > span,
  .text_wrap .icons {
    display: none;
  }
  .sec1 .card1 {
    width: 330px;
  }
  .user_profile {
    width: fit-content;
    font-size: 10px;
    margin: 16px auto;
    gap: 12px;
    padding-right: 0;
  }
  .user_profile span {
    line-height: 10px;
    margin: 0;
    font-size: 16px;
  }
  .user_profile > div {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .user_profile > span::before {
    height: 10px;
    margin-right: 14px;
  }
  .user_profile > span::after {
    width: 1px;
    height: 10px;
    margin-left: 14px;
  }

  /* 오른쪽 이미지 */
  .right_con {
    margin-top: 60px;
    width: 95%;
    padding: 0;
    margin: 0 auto;
  }
  .right_con > h4 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 16px;
  }
  .img_wrap {
    width: fit-content;
    margin: 0 auto;
    gap: 28px;
    justify-content: center;
    align-items: center;
  }
  .imgbox {
    margin: 0 auto;
    margin-bottom: 12px;
  }
  .imgbox1 {
    width: calc(33% - 28px);
    height: auto;
  }
  .imgbox + span {
    font-size: 15px;
    text-align: center;
  }
  .cardtext {
    height: 100%;
    padding: 4px;
  }
  .cardtext span {
    font-size: 14px;
  }
  .cardtext h4 {
    font-size: 16px;
  }
  /* 아래컨텐츠 */
  .card_wrap .card1 {
    width: calc(48% - 16px);
    height: 420px;
    margin-bottom: 16px;
  }
  .card_wrap .card_img {
    height: 300px;
  }
  .card_wrap .card_img img {
    object-fit: scale-down;
    filter: grayscale(0);
    transition: none;
  }
  .card1 .user_profile span {
    font-size: 14px;
  }
  .card_wrap p {
    display: none;
  }
  .plus_icon {
    position: relative;
  }
  .plus_icon img {
    position: absolute;
    top: -46px;
    right: 0px;
  }
  .plus_icon span {
    display: none;
  }
  /* top버튼 */
  .top_btn {
    position: fixed;
    right: 80px;
    bottom: 112px;
  }
  /* footer */
  footer .con {
    padding-top: 10px;
    box-sizing: border-box;
    height: 80px;
    flex-direction: column;
    align-items: start;
    height: 80px;
  }
  footer h2 {
    width: 129px;
  }
  .sitemap > ul {
    padding: 0;
  }
  .sitemap > ul > li {
    padding: 0;
  }
  .sitemap > ul > li > a {
    line-height: 34px;
  }
  footer span {
    font-size: 12px;
    line-height: 12px;
  }
}
/* 💡노트북💡 */
@media screen and (min-width: 1024px) and (max-width: 1919px) {
  /* 공통 */
  .con {
    width: 95%;
  }
  /* 섹션제목 */
  .sec_txt {
    margin: 75px 4vw;
  }
  /* header */
  header .con {
    width: 98%;
  }
  header .icons.menu {
    display: none;
  }
  /* logo */
  h1 {
    width: 180px;
  }
  #gnb {
    display: block;
    height: 80px;
    font-size: 15px;
    font-weight: 300;
  }
  #gnb > ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 27px 0;
    box-sizing: border-box;
    line-height: 25px;
  }
  #gnb > ul > li > a {
    padding: 0 20px;
  }
  /* 2차메뉴 */
  #gnb .submenu li {
    font-size: 14px;
  }
  .icons {
    gap: 32px;
  }
  .icons img {
    width: 24px;
    height: 24px;
  }
  .icons a:nth-child(2) {
    display: flex;
  }
  /* main */
  /* 섹션1 - 베스트 */
  .best .con_wrap {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .best .best_person {
    width: 40vw;
    height: 70vh;
    margin-top: 100px;
    margin-right: auto;
  }
  .text_wrap {
    width: 45vw;
  }
  .right_con {
    width: 45vw;
    padding: 0;
    margin-top: -120px;
    margin-right: 0;
  }
  .cardtext {
    padding: 0 10px;
    box-sizing: border-box;
    height: 100px;
  }
  /* 아래컨텐츠 */
  .content {
    margin-top: 480px;
  }
  .card_wrap {
    flex-wrap: wrap;
  }
  .card_wrap .card1 {
    width: calc(48% - 28px);
    margin-bottom: 16px;
  }
  .page {
    margin: 60px auto;
  }
  /* top버튼 */
  .top_btn {
    right: 96px;
    bottom: 100px;
  }
  /* footer */
  footer .con {
    padding-top: 10px;
    box-sizing: border-box;
    height: 80px;
    justify-content: space-between;
    align-items: center;
  }
  footer h2 {
    width: 180px;
  }
  .sitemap > ul {
    padding: 0;
  }
  .sitemap > ul > li {
    padding: 0;
  }
  .sitemap > ul > li > a {
    line-height: 34px;
  }
  footer span {
    font-size: 12px;
    line-height: 12px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  /* 섹션1 - 베스트 */
  .best .con_wrap {
    flex-wrap: nowrap;
    gap: 36px;
  }
  .best .best_person {
    width: 32vw;
    height: 52vh;
    margin-right: auto;
  }
  .text_wrap {
    width: fit-content;
    padding-left: 24px;
    box-sizing: border-box;
    order: 0;
  }
  .text_wrap .user_profile {
    padding: 0;
  }
  .right_con {
    margin-top: 60px;
    padding: 0;
  }
  .cardtext {
    height: 0;
    overflow: hidden;
    transition: 0.5s;
  }
  .imgbox1:hover .cardtext {
    height: 200px;
  }
  /* 아래컨텐츠 */
  .card_wrap {
    flex-wrap: wrap;
    gap: 28px;
    justify-content: flex-start;
  }
  .card_wrap .card1 {
    width: calc(33% - 28px);
    margin-bottom: 16px;
  }
}
